/**
 *                                             _             _
 *     ___ ___  _ __ ___ _ __   ___  _ __ ___ (_)_ __   __ _| |
 *    / __/ _ \| '__/ _ \ '_ \ / _ \| '_ ` _ \| | '_ \ / _` | |
 *   | (_| (_) | | |  __/ | | | (_) | | | | | | | | | | (_| | |
 *    \___\___/|_|  \___|_| |_|\___/|_| |_| |_|_|_| |_|\__,_|_|
 *
 *   Webmaster: Philip Newborough
 *   Contact: corenominal [at] corenominal.org
 *   Twitter: @corenominal
 *   From: Lincoln, United Kingdom
 */

body {
    background: #212121;
    color: #ddd;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.post h1 a,
.post h2 a {
    text-decoration: none;
    border-bottom: 1px solid #333;
}

.post h1 a:hover,
.post h2 a:hover {
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

p.article-date {
    margin-top: -18px;
    font-size: 90%;
}

p.article-date a {
    color: #999;
}

p.article-date a:hover {
    color: #fff;
}

.e-content {
    margin:0 -20px 0 20px;
}

.e-content a {
    text-decoration: underline;
}

.e-content img {
    width: auto;
	height: auto;
    max-width: 100%;
}

.post footer .meta {
    margin-bottom: 0;
}

svg.icon {
    width: auto;
	height: auto;
    max-height: 13px;
}

svg.external-link {
    margin-left: 12px;
}

svg.icon.tags,
svg.icon.code {
    margin-right: 6px;
}

/**
 * Utilities
 */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.nowrap {
	white-space: nowrap;
}
.noscroll {
	height: 100%;
	overflow: hidden;
}
