/**
 *                                             _             _
 *     ___ ___  _ __ ___ _ __   ___  _ __ ___ (_)_ __   __ _| |
 *    / __/ _ \| '__/ _ \ '_ \ / _ \| '_ ` _ \| | '_ \ / _` | |
 *   | (_| (_) | | |  __/ | | | (_) | | | | | | | | | | (_| | |
 *    \___\___/|_|  \___|_| |_|\___/|_| |_| |_|_|_| |_|\__,_|_|
 *
 *   Webmaster: Philip Newborough
 *   Contact: corenominal [at] corenominal.org
 *   Twitter: @corenominal
 *   From: Lincoln, United Kingdom
 */

body {
    background: #fff;
    color: #212121;
}

a {
    color: #212121;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.site-description {
    font-size: 90%;
    line-height: 1.4em;
}

.masthead h1,
.masthead h2 {
    display: none;
}

.search-input {
    text-align: right;
    border: 0;
    border-bottom: 2px solid #333;
	color: #212121;
	background: #fff;
	width: 100%;
	padding: 0 0 6px 0;
	border-radius: 0;
    margin-bottom: 20px;
    font-family: inherit;
    font-size: 90%;
}
.search-input.archives,
.search-input.tags {
    text-align: left;
}
.search-input:focus {
	outline: 0;
    border-bottom: 2px solid #212121;
    color: #212121;
}

.hamburger {
    border: 1px solid #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 10px;
    background: #fff;
    color: #212121;
    cursor: pointer;
}

.page-title {
    color: #212121;
    margin-bottom: 40px;
}

.post h1 a,
.post h2 a,
a.text-link,
.post footer a,
.tags a {
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

.post h1 a:hover,
.post h2 a:hover,
a.text-link:hover,
.post footer a:hover,
.tags a:hover {
    text-decoration: none;
    border-bottom: 1px solid #212121;
}

p.article-date {
    margin-top: -18px;
    font-size: 90%;
}

.archives .title a,
p.article-date a {
    color: #999;
    border-bottom: 1px solid #fff;
}

.archives .title a {
    color: #212121;
    border-bottom: 1px solid #212121;
}

.archives .title a:hover,
p.article-date a:hover {
    color: #212121;
    border-bottom: 1px solid #212121;
}

.e-content {
    margin:0 -20px 0 20px;
}

.e-content hr {
    border: 0;
    height: 0;
    border-top: 1px solid #333;
    border-bottom: 0px solid #333;
    margin-bottom: 20px;
}

.e-content img {
    width: auto;
	height: auto;
    max-width: 100%;
}

.wp-caption img {
    max-width: 100%;
}

.wp-caption {
    max-width: 100%;
    background: #1a1a1a;
    color: #c8c8c8;
    padding: 10px;
    margin-bottom: 20px;
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,.4),0 0 2px 0 rgba(0,0,0,.12);*/
}

.wp-caption p.wp-caption-text {
    margin-bottom: 0;
    color: #c8c8c8;
}

.e-content ul li {
    margin-left: 20px;
    list-style-type: disc;
}

.e-content ol li {
    margin-left: 20px;
    list-style-type: decimal;
}

.post footer p.meta {
    margin-bottom: 0;
    position: relative;
    padding-left: 30px;
}

.post footer p.meta svg {
    position: absolute;
    top: 8px;
    left: 0;
}

.comments {
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.comments .comment {
	margin-bottom: 60px;
	position: relative;
	padding-left: 62px;
}
.comment .avatar {
	position: absolute;
	top:0;
	left:0;
	border: 2px solid #212121;
}
.commentmetadata {
	color: #999;
	font-size: 13px;
}
.comments label {
	display:block;
	color: #212121;
}
.comments textarea,
.comments input[type="text"] {
	border: 1px solid #999;
	border-radius: 0;
	color: #212121;
	background: #fff;
	width: 96%;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 2%;
	padding-right: 2%;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
    outline: 0;
}
.comments textarea:focus,
.comments input[type="text"]:focus {
	border: 1px solid #212121;
	background: #fff;
	outline: 0;
	/*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, 0.6);*/
}
.form-submit input {
	color: #c8c8c8;
	background: #212121;
	border: 1px solid #212121;
	border-radius: 0;
	text-align: center;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	text-transform: uppercase;
	width: 100%;
	padding-top: 6px;
	padding-bottom: 6px;
}
.form-submit input:hover {
	color: #fff;
	border: 1px solid #212121;
	cursor: pointer;
}
.tags {
    overflow: hidden;
}
.tags li {
    display: block;
    float: left;
    margin: 0 20px 0 20px;
}
.archives li.date {

}
.archives li.title {
    position: relative;
    margin-left: 20px;
    margin-bottom: 2px;
}
.archives li.title span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: #999;
}
.archives li.title a {
    display: block;
    margin-left: 30px;
    border-bottom: none;
}
.archives li.title a:hover {
    display: block;
    margin-left: 30px;
    border-bottom: none;
    text-decoration: underline;
}
ul.related-posts li {
    position: relative;
    list-style-type: none;
    margin: 0 0 2px 0;
}
ul.related-posts span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: #999;
}
ul.related-posts a {
    display: inline-block;
    margin-left: 100px;
    border-bottom: none;
    color: #212121;
}
ul.related-posts a:hover {
    border-bottom: none;
    color: #212121;
    text-decoration: underline;
}
/*svg {
    width: auto;
	height: auto;
}*/

svg.icon {
    max-height: 13px;
}

svg.external-link {
    margin-left: 12px;
}

svg.icon.tags,
svg.icon.code {
    margin-right: 2px;
}

svg.copyleft {
    max-width: 20px;
}

code {
    font-family: "Menlo", "Consolas", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Monaco", monospace;
	background-color: #e5e5e5;
	color: #1c1c1c;
	border:none;
	white-space:nowrap;
    font-size: 96%;
}

pre {
    font-family: "Menlo", "Consolas", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Monaco", monospace;
	white-space:pre;
	white-space:pre-wrap;
	background-color:#1c1c1c;
	color:#c8c8c8;
	border:none;
	margin:0 0 22px 0;
	overflow-y:auto;
	padding:5px 10px;
}
pre code {
	background: #1c1c1c;
    color:#c8c8c8;
	border:none;
	white-space:pre;
}

.pager a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 4px 6px;
}

.pager a:hover {
    text-decoration: none;
    border: 1px solid #212121;
}

/**
 * Utilities
 */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.nowrap {
	white-space: nowrap;
}
.noscroll {
	height: 100%;
	overflow: hidden;
}
::-moz-selection { background: #212121; color:#fff }
::selection { background: #212121; color:#fff }
